*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .main{
    background-color: #f0f2f5;
} */
.container-xxl{
    display: flex;
    flex-direction: row;
    padding: 55px;
}
.container-xxl .container__elmento--title{
    width: 80%;
    margin: auto;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    color: #307403;
}
.container-xxl .container__elemento{
    width: calc(100% - 100px);
    margin: 20px;
    padding: 25px;
}
.formulario{
    width: calc(85% - 80px);
    border: 1px solid #222; 
    border-radius: 5px;
    /* padding: 30px;
    margin: auto;
    background-color:  #fff;
    -webkit-box-shadow: 9px 14px 16px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 14px 16px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 14px 16px -11px rgba(0,0,0,0.75); */
}
@media (min-width: 375px) and (max-width: 800px) {
    .container-xxl{
        display: block;
    }
    .formulario{
        width: 100%;
    }
}